.pagecontent {
    margin: 0 auto;
}

.responsive_header {
    height: 44px !important;
}
.responsive_header_content {
    height: 100% !important;
}
#svg_logo_holder {
    height: 100%;
}
.logo {
    height: auto !important;
    margin-right: 0 !important;
}
.content_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-color-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;

    width: 100%;
    float: none;
}

.color_picker {
    cursor: pointer;
    position: absolute;
    border: none;
    opacity: 0;
}

/* desktop styling */
.color1_desktop {
    top: 24px;
    left: 57px;
    width: 60px;
    height: 21px;
}
.color2_desktop {
    top: 65px;
    left: 57px;
    width: 60px;
    height: 17px;
}
.color3_desktop {
    top: 44px;
    left: 57px;
    width: 31px;
    height: 22px;
}
.color4_desktop {
    top: 44px;
    left: 87px;
    height: 22px;
    width: 30px;
}

/* mobile styling */
.color1_mobile {
    top: 6%;
    left: 45%;
    width: 10%;
    height: 18%;
}
.color2_mobile {
    top: 37%;
    left: 45%;
    width: 10%;
    height: 17%;
}
.color3_mobile {
    top: 23%;
    left: 45%;
    width: 5%;
    height: 15%;
}
.color4_mobile {
    top: 23%;
    left: 50%;
    height: 15%;
    width: 5%;
}

/* purchase page is here! */
#purchase_page_main {
    margin-top: 20px;
    width: 100vw;
    height: calc(100vh - 104px); /* 104px is the header */
}
#purchase_area {
    width: 1300px;
    height: 550px;
}
#shopping_cart_div {
    width: 100%;
    height: 10%;
}
#purchase_area_flexed {
    width: 100%;
    height: 90%;
}

#left_purchase_area {
    float: left;
    width: 60%;
    height: 100%;
}

#right_purchase_area {
    float: right;
    width: 40%;
    height: 100%;
}



.centered_div {
    margin: 0 auto;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
}