.pagecontent {
    margin: 0 auto;
}
.content_centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-color-container {
    background-color: rgba(29, 58, 76, 0.5);

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;

    width: 100%;
    float: none;
}

.color-row {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1800px) {
    #logo-color-container {
        background-color: transparent;
    }

    
}