#whole_page {
    height: max-content;
    width: 100vw;
}
.pagecontent {
    margin: 0 auto;
}

#logo-color-container {
    margin-left: 5px;
    width: 300px;
    float: left;
}
#logo-color-container p {
    font-size: medium;
    color: #c8e9e9;
}

.color-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 1800px) {
    #logo-color-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 20px;

        width: 85%;
        float: none;
    }

    .color-row {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .color-row p {
        display: none;
    }
}